////
/// @group brandy-vars
////

$all-buttons: selector((
  'button',
  'input[type="button"]',
  'input[type="submit"]',
  'input[type="reset"]'
)) !default;

$all-buttons-hover: selector( $all-buttons, ':hover' ) !default;
$all-buttons-focus: selector( $all-buttons, ':focus' ) !default;
$all-buttons-active: selector( $all-buttons, ':active' ) !default;
$all-buttons-disabled: selector( $all-buttons, '[disabled]' ) !default;

$all-text-inputs: selector((
  'input[type="text"]',
  'input[type="color"]',
  'input[type="data"]',
  'input[type="datetime"]',
  'input[type="datetime-local"]',
  'input[type="email"]',
  'input[type="month"]',
  'input[type="number"]',
  'input[type="password"]',
  'input[type="search"]',
  'input[type="tel"]',
  'input[type="time"]',
  'input[type="url"]',
  'input[type="week"]',
  'input:not([type])',
  'textarea'
)) !default;

$all-text-inputs-hover: selector( $all-text-inputs, ':hover' ) !default;
$all-text-inputs-focus: selector( $all-text-inputs, ':focus' ) !default;
$all-text-inputs-active: selector( $all-text-inputs, ':active' ) !default;
$all-text-inputs-invalid: selector( $all-text-inputs, ':invalid' ) !default;
$all-text-inputs-disabled: selector( $all-text-inputs, '[disabled]' ) !default;
$all-text-inputs-required: selector( $all-text-inputs, '[required]' ) !default;

$all-list-inputs: selector(
  'select'
);

$all-list-inputs-hover: selector( $all-list-inputs, ':hover' ) !default;
$all-list-inputs-focus: selector( $all-list-inputs, ':focus' ) !default;
$all-list-inputs-active: selector( $all-list-inputs, ':active' ) !default;
$all-list-inputs-multiple: selector( $all-list-inputs, '[multiple]' ) !default;
$all-list-inputs-disabled: selector( $all-list-inputs, '[disabled]' ) !default;
$all-list-inputs-required: selector( $all-list-inputs, '[required]' ) !default;

$all-file-inputs: selector(
  'input[type="file"]'
);

$all-file-inputs-multiple: selector( $all-file-inputs, '[multiple]' ) !default;
$all-file-inputs-disabled: selector( $all-file-inputs, '[disabled]' ) !default;
$all-file-inputs-required: selector( $all-file-inputs, '[required]' ) !default;

$all-verbage-inputs: joins( $all-text-inputs, $all-list-inputs ) !default;

$all-verbage-inputs-hover: selector( $all-verbage-inputs, ':hover' ) !default;
$all-verbage-inputs-focus: selector( $all-verbage-inputs, ':focus' ) !default;
$all-verbage-inputs-active: selector( $all-verbage-inputs, ':active' ) !default;
$all-verbage-inputs-multiple: selector( $all-verbage-inputs, '[multiple]' ) !default;
$all-verbage-inputs-disabled: selector( $all-verbage-inputs, '[disabled]' ) !default;
$all-verbage-inputs-required: selector( $all-verbage-inputs, '[required]' ) !default;
  
$all-toggle-inputs: selector((
  'input[type="radio"]',
  'input[type="checkbox"]'
)) !default;

$all-toggle-inputs-hover: selector( $all-toggle-inputs, ':hover' ) !default;
$all-toggle-inputs-focus: selector( $all-toggle-inputs, ':focus' ) !default;
$all-toggle-inputs-active: selector( $all-toggle-inputs, ':active' ) !default;
$all-toggle-inputs-disabled: selector( $all-toggle-inputs, '[disabled]' ) !default;
$all-toggle-inputs-required: selector( $all-toggle-inputs, '[required]' ) !default;

$all-inputs: joins( $all-verbage-inputs, $all-toggle-inputs, $all-file-inputs ) !default;

$all-inputs-hover: selector( $all-inputs, ':hover' ) !default;
$all-inputs-focus: selector( $all-inputs, ':focus' ) !default;
$all-inputs-active: selector( $all-inputs, ':active' ) !default;
$all-inputs-multiple: selector( $all-inputs, '[multiple]' ) !default;
$all-inputs-disabled: selector( $all-inputs, '[disabled]' ) !default;
$all-inputs-required: selector( $all-inputs, '[required]' ) !default;

$all-headings: selector((
  'h1', 
  'h2', 
  'h3', 
  'h4', 
  'h5', 
  'h6'
)) !default;

