<!DOCTYPE html>
<html class="{{htmlClas}}">
  <head>
    <title>{{title}}</title>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" http-equiv="">

    <link rel="stylesheet" href="../../css/style.css?{{cacheBuster}}" media="all">

    <!-- DO NOT REMOVE -->
    {{{patternLabHead}}}

  </head>
  <body class="{{bodyClass}}">

