
  <!--DO NOT REMOVE-->
  {{{ patternLabFoot }}}

  <script src="../../js/index.js?{{cacheBuster}}"></script>
  <script src="../../js/dependencies/clipboard/clipboard.min.js?{{cacheBuster}}"></script>
  <script>new Clipboard('.copy');</script>

  </body>
</html>
